// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.page-item.active .page-link 
{
    z-index: 1;
    color: #fff;
    background-color:#6c757d;
    border-color: gray;
  
}